.fw-builder-templates-type-full a.template-delete {
	float: right;
	visibility: hidden;
	margin-top: 3px;
	text-decoration: none !important;
}

.fw-builder-templates-type-full ul {
	margin: 0px;
	width: 100%;
}

.fw-builder-templates-type-full ul li {
	font-style: normal;
	padding-bottom: 10px;
	margin-bottom: 0px;
	list-style: disc inside none;
	margin-left: 4px;
	text-align: left;
	line-height: 18px;
}

.fw-builder-templates-type-full ul li a,
.qtip.qtip-fw .qtip-content .fw-builder-templates-type-full ul li a {
	color: #b1b1b1;
	text-decoration: none;
}

.fw-builder-templates-type-full ul li a:focus {
	box-shadow: none;
}

.fw-builder-templates-type-full ul li a:hover,
.qtip.qtip-fw .qtip-content .fw-builder-templates-type-full ul li a:hover {
	color: #eee;
}

.fw-builder-templates-type-full ul li:last-child {
	padding-bottom: 0px;
}

.fw-builder-templates-type-full ul li:hover a.template-delete {
	visibility: visible;
}