.fw-option-type-builder .template-container a {
	text-decoration: none;
}

.fw-option-type-builder .template-container a:focus {
	box-shadow: none;
}

.fw-option-type-builder .template-btn {
	background-image: url(img/template.png);
	background-repeat: no-repeat;
	padding-left: 14px;
	background-position: left center;
	cursor: pointer;
}